---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
ABOUT THE PROJECT

<div style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 1rem;">
    <div style="background-color: #FF1653; border-radius: 10px; padding: 1rem; border-color: white; text-align: center; margin-left: 15px;">
      Coming in v2.0.0
    </div>
    <div style="background-color: #FF1653; border-radius: 10px; padding: 1rem; text-align: center; margin-right: 15px;">
      Already finished
    </div>
  </div>

</Layout>